body {
  margin-left: 40px; 
  font-family: 'Raleway', sans-serif;}

  /*navigation links */
  #linkhébergement{
    border-top: 0.5px solid blue;
  }
.nav-link{
  font-size: 12px;
}
/*text under the logo */
.firsttext{
  margin-top: 20px;
}
#text1 {
  font-size: 13px;
 }
#text2 {
  opacity: 0.6;
  font-size: 13px;
 }
 #text3 {
  opacity: 0.6;
  font-size: 13px;
  margin-top: 15px;
 }

/*localosation icon */
svg {
  border-radius: 5px 0; }

  /*serch bar */
  .serchbar{
    border-radius: 0px 10px 10px 0px;
  }
  .lefttext{
    border-radius: 10px 0px 0px 10px;
  }
  #righttext{
    border-radius: 0px 10px 10px 0px;
  }

/*button group */
#linkfabtn{
  width: 90px;
  margin-left: 10px;
}
#iconfabtn{
  padding: 8px;
}
/*icon styling */
i {
  color: Dodgerblue; }

.icon {
  position: relative;
width: 30px;
height: 30px;
  border: none;
  padding: 6px;
  border-radius: 20px 20px;
  background-color: #f2f2f2;
  
 }

/*button styling */
.btn {
  font-size: 12px;
  border-radius: 20px 20px 20px 20px;
  border: 0.1px solid;
  padding: 3px; }

/* first left image containers 6imgs*/
.container {
  background-color: #F2F2F2;
  margin-top: 10px;
  border-radius: 10px;
  padding-bottom: 40px;
  flex-wrap: wrap;
  display: flex;
  flex-direction:column;
  justify-content: center;
 }
 .container div{
  width: 170px;
  margin: 10px;
  text-align: center;
 }
 .text4{
   font-size: 12px;
   font-weight: bold;
   margin-left: 20px;
   padding-top: 20px;
 }
 .text5{
  font-size: 12px;
  font-weight: bold;
  margin-left: 20px;
 
}

 #firstLine{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content:space-around;
 margin-left: 20px;
}
#secondLine{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content:space-around;
  margin-left: 20px;
}
@media(min-width:768px) and (max-width:992px) {

  #firstLine {
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
   
    justify-content: space-evenly;
    
  }

  #secondLine {    
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
  }
}
@media(max-width:767px) {

  .container{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

img {
  height: 8rem;
  padding: 5px;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px; }

.card {
  border-radius: 10px;
  width: 12rem;
  box-shadow: 2px 4px 2px #dfdbdb;
  
 
   }
   .card-text {
    font-size: 11px;
    margin-left: 5px;
   }
  

/*icon color */
.color {
  color: Dodgerblue; }


/* second right image containers plus populaires 3imgs*/
.container2 {
  background-color: #F2F2F2;
 
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 40px; 

}
.imglot1{
  font-size: 12px;
  
  margin-left: 20px;
  padding-top: 20px;
  
}
@media(max-width:767px) {

  .container2{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .activityimg{
    margin-left: 87px;

  }
 
}
.rightimg{
  position: absolute;padding: 5px;   max-width: 50%;
}
.threeimgcard{
  width: 14rem;height:8rem; margin-left: 2px;margin-top: 10px;;
}
.rightimgtext{
  font-size: 11px;text-align: right;
}


 
  /* activity section */
h6 {
  font-size: 11px;
  font-weight: bold;
  text-align: left; }
.text6{
  font-size: 11px;
  font-weight: bold;
}
#activites{
  margin-left: 10px;
}
.short-div{
  width: 14rem;
  box-shadow:2px 4px 2px #dfdbdb
}

.activityimg{
  height:90%;object-fit: cover;width: 14rem;box-shadow:2px 4px 2px #dfdbdb
}
#activityimg2{
  padding:0px;margin-left: 90px;
}
.right-box {
  position: relative;
  padding-top: 30px; }

.card-img-top {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-radius: 10px !important; }





/*footer section */
.container-footer {
  margin-top: 30px;
  background-color: #F2F2F2; }

.text_link {
  font-size: 13px;
  font-weight: bold; }

.list-unstyled {
  font-size: 13px; }

.link_box {
  margin-top: 20px;
  margin-left: 30px;
  text-align: left; }



/*# sourceMappingURL=style.css.map */

/*footer */
.container-footer{
  text-decoration-color: black;
}
