


/*text under the logo */
.firsttext {
  margin-left: 50px;
}
#text2{
opacity: 0.6;
}
/*serch bar */
.input-group{
  margin-left: 50px;
}
/*localosation icon */
svg{
  border-radius: 5px 0;
}
/*button group */
.btn-container{
  margin-left: 50px;
  
}
i{
  border: 1px solid;
 
  border-radius: 10px;
}
.btn-group{
  font-size: 12px;
  border-radius:0px 10px 10px 0px;
  border: 1px solid;
  padding: 1px;
}
/*image containers*/
img{
  height: 8rem;
  padding: 5px;
  object-fit: cover
}
.card{
  border-radius: 10px 10px 10px 10px;
  width: 12rem;
  margin-left:20px;
}
.container2{
  background-color:#d4d4aa;
  padding-left: 5px;
  margin-left: 50px;
  margin-top: 5px;
  border-radius: 10px;
  
}
.container3{
  background-color:#d4d4aa;
margin-left: 0px;
border-radius: 10px;
}
